* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F6F8FB;
    position: relative;
    left: 0;
    top: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.user_data {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    right: 0;
}

#country {
    position: static;
    border: none;
    outline: none;
    width: 140px;
    height: 24px;
    font-size: 14px;
    left: 0;
    top: 0;
    margin-right: 5px;
    background-color: #F6F8FB;

}

#language {
    position: static;
    border: none;
    outline: none;
    width: 80px;
    height: 24px;
    font-size: 14px;
    left: 0;
    top: 0;
    margin-right: 5px;
    background-color: #F6F8FB;

}

#currency {
    position: static;
    border: none;
    outline: none;
    width: 77px;
    height: 24px;
    font-size: 14px;
    left: 0;
    top: 0;
    background-color: #F6F8FB;
}

.header_form_1_txt {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
}

.phone_icon {
    height: 15px;
    width: 15px;
    color: blue;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    margin-right: 5px;
}

.user_data_phone, .user_data_messages {
    border-right: 2px solid gray;
    padding: 0 5px 0 5px;
    margin-right: 5px;

}


.user_data_phone a, .user_data_messages a {
    text-decoration: none;
    position: static;
    width: 129px;
    height: 30px;
    left: 28px;
    top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    color: blue;
}

.user_data_messages a {
    color: black;
}

.messages_icon {
    width: 20px;
    height: 20px;
}

.user_data_user {
    display: flex;
}

.user_data_select {
    position: static;
    border: none;
    outline: none;
    width: 100px;
    height: 24px;
    font-size: 12px;
    left: 0;
    top: 0;
    margin-right: 5px;
    background-color: #F6F8FB;
}

.user_data_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/*search bar*/

.header_search_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 88px;
    position: relative;
    left: 0;
    top: 48px;
    background: #FFFFFF;
}

::placeholder {
    padding: 10px;
}

.search_form {
    position: relative;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: #FFFFFF;
    border-radius: 8px;
    height: 48px;
}

.search_icon {
    position: absolute;
    left: 1%;
    top: 25%;
    color: #1071FF;
}

.search_block {
    display: flex;
    justify-content: space-between;
}

.search_input {
    outline: none;
    padding: 5px 10px;
    width: 479px;
    height: 24px;
    top: 12px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.search_button {
    margin-left: 90px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 32px;
    width: 198px;
    height: 48px;
    background: #1071FF;
    border-radius: 30px;
    border: none;
}

.search_button_txt {
    position: static;
    left: 0;
    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
}

.header_search_block {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}


/*category_bar*/


.category_bar {
    margin-top: 100px;
    background: #F6F8FB
}

.category_bar_block, .category_bar_block {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.category_bar_selects {
    border: none;
    outline: none;
    margin-right: 20px;
    background-color: #F6F8FB;
}

.category_bar_link {
    text-decoration: none;
    margin-right: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    color: #0C0C0C;
}

.category_bar_CFC {
    display: flex;
    align-items: center;
}

.category_bar_CFC figure {
    margin-right: 20px;
}

figure {
    text-align: center;
}

.footer {
    width: 100%;
    background-color: #F6F8FB;
    margin-top: 10px;
}

.footer_data {
    display: flex;
    justify-content: space-around;
}

.sign_up h2, .how_to_buy h2, .help h2, .services h2, .about h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #0C0C0C;
    flex-grow: 0;
    margin: 24px 0;
}

.sign_up p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #0C0C0C;
    margin: 24px 0;
}

.footer_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #0C0C0C;
    margin: 8px 0;
    text-decoration: none;
}

.footer_input {
    padding: 12px 16px;
    width: 301px;
    height: 48px;
    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 24px 0;
}

.footer_button {
    padding: 10px 32px;
    width: 301px;
    height: 48px;
    background: #1071FF;
    border: none;
    border-radius: 30px;
    margin: 16px 0;
}

.footer_button span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background: #F6F8FB;
}

.footer_icon {
    margin: 0 10px;
    width: 24px;
    height: 24px;
}

.price-values-div, .price-label-div {
    display: flex;
    justify-content: center;
}

.price-values-div input, .price-label-div label {
    text-align: center;
    width: 30%;
    margin: 0 20px 0 20px;
}

.price-values-div input {
    font-size: 17px;
    padding: 5px 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #F9F9F9;
}


.main {
    width: 100%;
    margin-bottom: 100px;
}

.main_block {
    width: 100%;
    display: flex;
}

.filter {
    width: 35%;
}

.product_block {
    width: 65%;
}

.product_block_name {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #0C0C0C;
}

.product_block_txt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0C0C0C;
    width: 860px;
    overflow-y: auto;
}

.product_block_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #2580FF;
    margin: 30px 0;
}

.product_block_banner_img {
    width: 82px;
    height: 102px;
    margin: 0 16px;
}

.product_block_banner_procent {
    width: 161px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0 16px;
}

.product_block_banner_procent_txt {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.product_block_banner__button {
    padding: 10px 32px;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
}

.product_block_banner__txt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1071FF;
}

.product_items {
    display: flex;
    flex-wrap: wrap;
}

.item_block {
    width: calc(100% / 3 - 10px);
    padding: 2px;
    margin: 5px;
}

.item_block_block {
    width: 100%;
    height: 246px;
    text-align: center;
    border: 1px solid #dedddd;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
}

.item_block_img {
    width: 100%;
    height: 100%;
}

.item_block_brandName {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #737B7D;
    margin: 5px 0;
    text-decoration: none;
}

.item_block_Name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    line-height: 130%;
    color: #0C0C0C;
    margin: 10px 0;
    display: block;
}

.item_block_type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #0C0C0C;
    margin: 5px 0;
    text-decoration: none;

}

.item_block_Max_power, .item_block_Luminous_flux {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #0C0C0C;
    margin: 5px 0;
    text-decoration: none;

}

.item_block_your_price {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    color: #1071FF;
    text-decoration: none;

}

.item_block_price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #FF7E27;
    margin-left: 5px;
}

.item_block_your_price_span {
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.item_button {
    margin: 15px 0;
    padding: 12px 80px;
    border: none;
    background: #1071FF;
    border-radius: 30px;
}

.item_button_txt_txt {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.product_block_button {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1071FF;
    margin: 0 4px;
    background-color: white;
}

.menu-content ul .sub-menu li,
.menu-content li .sub-menu li {
    border: none;
    border-bottom: 1px solid #ebebeb;
    margin-left: 0;
    padding-left: 5px;
    text-decoration: none;
}

.menu-content ul :not(collapsed) .arrow:before,
.menu-content li :not(collapsed) .arrow:before {
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    vertical-align: middle;
    float: right;
    color: #9f9f9f;
}

li {
    list-style-type: none;
}

.item .item_1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
    color: #0C0C0C;
    margin: 0 8px;
}

.main_category {
    padding: 40px 24px;
    width: 85%;
    background: #F6F8FB;
    border-radius: 8px;
    margin-top: 5px;
}

.main_category h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #0C0C0C;
    margin: 8px 0;
}

.range_block {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.minValue {
    color: red;;
}

.filterList_Block, .rating_block {
    padding: 40px 24px;
    width: 85%;
    background: #F6F8FB;
    border-radius: 8px;
    margin-top: 5px;
}

.menu-tittle-brands {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #0C0C0C;
    margin: 8px 0;
}

.menu-checkbox  {
    margin-right: 5px;
}